header,
main,
footer { 
  margin-left: 152px;
}

body{
    font-family: 'Roboto';
}

/* Aside */

aside{
    position: fixed;
    width: 152px;
    height: 982px;
    background-color: white;
}

#logo{    
    background-color: hsl(239, 40%, 40%, 0.5);
}

#logo>img{
    margin-left: 30px;
}

.arrow{
    width: 10px;
    float: right;
    margin-top: -20px;
    margin-right: 30px;
}

#logo>h2{
    display: inline-block;
    padding-left: 10px;
    padding-right: 30px; 
    margin-left: 0px;
    text-align: center;    
    font-size: 20px;
    color: #373867;     
}

#aside-option{
    margin-left: 10px;
    margin-top: 10px;
    color: red;   
}

.text-options{
    display: inline-block;
    margin-left: 10px;
    margin-top: 20px;    
}


#aside-contact{
    padding-top: 200px;
    margin-left: 10px;
    margin-top: 20px;
    text-decoration: underline;    
    font-size: 10px;
    color: red; 
}

#aside-contact>img{
    float: left;
}

.contact-size{
    font-size: 15px;
}

.email-size{
    width: 15px;
}

/* Header */

header{
    background-image: url(../assets/header.png);
    background-size: cover;    
}

#header-text{   
   width: 400px;
   height: 900px;
   margin-left: 250px;   
   backdrop-filter: blur(3px);
   background-color: rgb(21, 16, 16, 0.5);
   text-align: left;   
   color: white;  
}

#header-text>h1{
    margin-left: 22px;
    margin-top: 70px;
    font-size: 40px;
}

#header-text>h2{
    margin-top: 20px;
    margin-left: 22px;
    margin-bottom: 50px;
    font-size: 20px;
}

#header-text>p{
    padding-top: 40px;
    margin-left: 22px;
    font-size: 16px;   
    color: rgba(227, 207, 207, 0.9);
}

/* Main */

main>section>h2{
    margin-top: 100px;
    text-align: center;
    font-size: 40px;
    font-weight: 600;    
    color: rgb(0, 0, 0);
}

main>section>div>h3{
    margin-top: 100px;           
    font-size: 40px;
    font-weight: 600;    
    color: rgb(0, 0, 0);
}


main>section>p{   
    padding-left: 208px;
    padding-right: 100px;
    margin-bottom: 20px;
    margin-left: -140px;
    font-weight: 500;
    text-align: center;
}

main>section>div>p{   
    padding-left: 208px;
    padding-right: 100px;
    margin-bottom: 20px;
    margin-left: -140px;    
    font-weight: 700;
    font-size: 20px;
    
}

.text-green{
    color: rgb(41, 120, 41);
}

.underline{
    height: 10px;
    margin-right: 100px;
    margin-left: 100px;
    margin-bottom: 87px;    
    background: #D9D9D9;    
}

.underline-left{
    height: 10px;
    margin-right: 100px;
    margin-left: 100px;
    margin-bottom: 87px;    
    background: #286276;
}

.underline-leader{
    height: 10px;
    margin-right: 100px;
    margin-left: 100px;
    margin-bottom: 87px;    
    background: #D9D9D9;
}

.underline-right{
    height: 5px;
    margin-right: 100px;
    margin-left: 100px;
    margin-bottom: 87px;    
    background: white;
}


#left-title{
    margin-left: 100px;
    margin-top: 100px;    
    padding-top: 100px;    
}

#right-title{
    margin-left: 800px;
    margin-top: 100px;    
    padding-top: 100px;
    
}


#right-img{
    width: 450px;
    height: 400px;
    float: right;    
    margin-right: 100px; 
    margin-top: -100px;
    margin-left: 100px;
}

#left-img{
    width: 450px;
    height: 400px;
    float: left;
    margin-top: -100px;
    margin-right: 100px; 
    margin-left: 100px;   
}

#block-margin{
    height: 840px;
    padding-top: -50px;
    padding-bottom: -1000px;
    
           
}

#block-margin-left{
    height: 840px;
    padding-top: 50px;    
    background-color: #D9D9D9;      
}



/*---------Funcionalites------------*/


/*------------More-info--------------*/

#background-img{
    background-image: url(../assets/background.png);
    height: 247px;
}

.more-info{
    display: inline-table;
    margin-left: 230px;
    margin-top: 80px;
}

.more-info>h4{
    font-size: 25px;
    font-weight: 600;
    margin-top: -30px;
    margin-bottom: 10px;
}

.more-info>ol{
    margin-left: 10px;
    margin-top: 30px;
}

/*------Contact----------*/

#contact{
    margin-bottom: 54px;
}

#contact-title{
    margin-top: 100px;
    text-align: center;
    font-size: 40px;
    font-weight: 600;    
    color: rgb(0, 0, 0);
}

label{
    display: block;
    margin-left: 100px; 
    margin-top: 15px;   
    font-size: 15px;    
}

#label-message{
    margin-top: 100px;

}

input{
    width: 450px;
    height: 20px; 
    margin-left: 100px;
    margin-top: 10px;  
}

select{
    display: block;    
    width: 446px;
    height: 30px;
    font-size: 15px;        
    margin-left: 680px;
    margin-top: -100px;
}

textarea{
    display: block;
    width: 900px;
    height: 200px;
    margin-top: 10px;
    margin-left: 100px;
}

#submit{
    width: 230px;
    height: 48px;
    margin-left: 100px;
    font-size: 20px;
    background-color: #AACE9B;
}

#submit-img{
    margin-right: 20px;
}

button{
    display: inline-block;
}

.cancel-icon{   
   margin-right: 10px;
   margin-top: 5px;  
   width: 15%;    
}

#reset{
    display: inline-block;
    width: 177px;
    height: 48px;
    margin-top: 10px;
    margin-left: 500px;    
    font-size: 20px;
    background-color: #F13312;
}



/* Footer */

footer{    
    height: 176px;    
    background-color: #AACE9B;    
    text-align: center; 
}

footer>p{
    margin-top: 20px;    
    margin-left: 210px;
    padding-right: 200px;
    text-align: center;
}

#footer-img{
    margin-right: 10px;    
    margin-top: 30px;
    text-align: center; 
}
