aside,
header,
main,
footer { 
  height: 900px;
}

/* Aside */

aside{
    width: 152px;
    height: 982px;
    position: fixed;
    background-color: white;
}

#logo{    
    background-color: hsl(239, 40%, 40%, 0.5);
}

#logo>img{
    margin-left: 30px;
}

#logo>h2{
    text-align: center;
    font-size: 20px;
    color: #373867;
    padding-left: 10px;
    padding-right: 30px;    
}

#asideoption{
    color: red;    
    margin-left: 10px;
    margin-top: 20px;
}

.textoptions{
    margin-left: 10px;
    margin-top: 20px;
    display: inline-block;
}

#asidecontact{
    padding-top: 200px;
    font-size: 11px;
    color: red;
    margin-left: 10px;
    margin-top: 20px;
}

.contactsize{
    font-size: 15px;
}

.emailsize{
    width: 15px;
}

/* Header */

header{
    background-image: url(../assets/header.png);
    background-size: cover;
}

#headertext{    
    color: white;
   position: absolute;
   width: 400px;
   height: 900px;   
   backdrop-filter: blur(3px);
   background-color: rgb(21, 16, 16, 0.5);
   text-align: left;  
   margin-left: 250px;   
}

#headertext>h1{
    font-size: 40px;
    margin-left: 22px;
    margin-top: 70px;
}

#headertext>h2{
    margin-top: 20px;
    margin-left: 22px;
    margin-bottom: 50px;
    font-size: 20px;
}

#headertext>p{
    padding-top: 40px;
    margin-left: 22px;
    font-size: 16px;   
    color: rgba(227, 207, 207, 0.9);
}


